@font-face {
  font-family: "IBM";
  font-weight: 100;
  src: url("./assets/fonts/IBMPlexSansKR-Thin.ttf");
}

@font-face {
  font-family: "IBM";
  font-weight: 300;
  src: url("./assets/fonts/IBMPlexSansKR-Light.ttf");
}

@font-face {
  font-family: "IBM";
  font-weight: 400;
  src: url("./assets/fonts/IBMPlexSansKR-Regular.ttf");
}

@font-face {
  font-family: "IBM";
  font-weight: 400;
  src: url("./assets/fonts/IBMPlexSansKR-Regular.ttf");
}

@font-face {
  font-family: "IBM";
  font-weight: 500;
  src: url("./assets/fonts/IBMPlexSansKR-Medium.ttf");
}

@font-face {
  font-family: "IBM";
  font-weight: 600;
  src: url("./assets/fonts/IBMPlexSansKR-SemiBold.ttf");
}

@font-face {
  font-family: "IBM";
  font-weight: 700;
  src: url("./assets/fonts/IBMPlexSansKR-Bold.ttf");
}
